<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
      <kendo-grid
        [kendoGridBinding]="gridData"
        [pageSize]="pageSize"
        [skip]="skip"
        [sortable]="true"
        [filterable] = "true"
        [pageable]="true"
        (pageChange)="onPageChange($event)"
        (sortChange)="onSortChange($event)"
      >
        <kendo-grid-column field="auctionName" title="Auction Name"  [filterable]="true" [sortable]="true"  [width]="120">
          <ng-template kendoGridHeaderTemplate let-column>
            {{column.title}}
            <span *ngIf="sortOrder['auctionName']">({{ sortOrder['auctionName'] }})</span>
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem>
            <span [ngStyle]="{ color: 'red' }">{{ dataItem.auctionName }}</span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="volume" title="Volume"  [sortable]="true" [width]="120">
          <ng-template kendoGridHeaderTemplate let-column>
            {{column.title}}
            <span *ngIf="sortOrder['volume']">({{ sortOrder['volume'] }})</span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="description" title="Description"  [sortable]="true"  [width]="120"></kendo-grid-column>
        <kendo-grid-column field="fuelTechnology" title="Fuel Technology"  [sortable]="true"  [width]="120"></kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
   